{% extends 'template.html.twig' %}
{% block title %}Camson Group | Produit{% endblock %}
{% block body %}
<link rel="stylesheet" href="{{ asset('assets/css/pagination.css') }}">
<div class="pagetitle">
    <h1>Achat et vente</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Accueil</a></li>
            <li class="breadcrumb-item active"><a href="#">Achat et vente</a></li>
        </ol>
    </nav>
</div>

<div class="d-flex bd-highlight mb-3">
	<div class="me-auto p-2 bd-highlight">
		<div class="row">
			<div class="col-md-10">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Rechercher..." name="searchproduit" id="searchproduit">
				</div>
			</div>
			<div class="col-md-2">
				<button class="btn bg-camson" type="button">
					<i class="bi bi-search"></i>
				</button>
			</div>
		</div>
	</div>
</div>
<!-- ====================== =FIN AJOUTER produit ===========================-->
<!-- ====================== =LISTE produit ===========================-->



<div class="card">
    <div class="card-body m-3">
        <form class="row" id="form_achat">
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="control-label">Référence Client</label>
                    <div>
                        <input type="text" class="form-control input-lg" name="client" id="client">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="control-label">Produit</label>
                    <div>
                        <input type="text" class="form-control input-lg" name="produit" id="produit">
                    </div>
                </div>
            </div> <br> <br> <br>
            <div class="col-lg-6">
                <button type="button" class="btn btn-info text-white" id="btnSaveAchat">Faire l'achat <span id="loadingAddAchat"></span>
            </div> 
        </form>
    </div>
</div>





<div class="card cardCamson">
    <div class="card-body m-2" id="valider">
        <table class="table">
            <thead class="table bg-dark text-white">
                <tr>
                    <th class="colonne_ref">Reference</th>
                    <th class="colonne_nom">Nom</th>
                    <th class="colonne_magasin">Magasin</th>
                    <th class="">actions</th>
                </tr>
            </thead>
            <tbody id="dataProduit"></tbody>
        </table>
        <div id="demo"></div>
    </div>

    <div class=""></div>
</div>

   
<!-- ====================== =SCRIPT ===========================-->
<script src="{{ asset('assets/js/pagination.js') }}"></script>
<script>
	$("#btnSaveAchat").click(function() {
        let data = $("#form_achat").serialize();
        $.ajax({
            type: "ajax",
            method: "post",
            url: '{{ path("app_achat_new") }}',
            data: data,
            dataType: "json",
            beforeSend: function() {
                $("#btnSaveAchat").attr("disabled", "disabled");
                $("#btnSaveAchat").find("#loadingAddAchat").addClass("spinner-border spinner-border-sm");
            },
            success: function(response) {
                $("#btnSaveAchat").removeAttr("disabled", "disabled");
                $("#btnSaveAchat").find("#loadingAddAchat").removeClass("spinner-border spinner-border-sm");
                //showAllClient();
                successMessage();
            },
            error: function() {
                $("#btnSaveAchat").removeAttr("disabled", "disabled");
                $("#btnSaveAchat").find("#loadingAddAchat").removeClass("spinner-border spinner-border-sm");
                errorMessage();
            },
        });
    });

</script>

{% endblock %}