{% extends 'template.html.twig' %}
{% block title %}Camson Group | Produit{% endblock %}
{% block body %}
<link rel="stylesheet" href="{{ asset('assets/css/pagination.css') }}">
<div class="pagetitle">
    <h1>Achat et vente</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Accueil</a></li>
            <li class="breadcrumb-item active"><a href="#">Achat et vente</a></li>
        </ol>
    </nav>
</div>

<div class="d-flex bd-highlight mb-3">
	<div class="me-auto p-2 bd-highlight">
		<div class="row">
			<div class="col-md-10">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Rechercher..." name="searchproduit" id="searchproduit">
				</div>
			</div>
			<div class="col-md-2">
				<button class="btn bg-camson" type="button">
					<i class="bi bi-search"></i>
				</button>
			</div>
		</div>
	</div>
</div>
<!-- ====================== =FIN AJOUTER produit ===========================-->
<!-- ====================== =LISTE produit ===========================-->



<div class="card">
    <div class="card-body m-3">
        <form class="row" id="form_achat">
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="control-label">Identification du Client</label>
                    <div>
                        <input type="text" class="form-control input-lg" name="client" id="client">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="control-label">Identification du Produit</label>
                    <div>
                        <input type="text" class="form-control input-lg" name="produit" id="produit">
                    </div>
                </div>
            </div> <br> <br> <br>
            <div class="col-lg-6">
                <button type="button" class="btn btn-info text-white" id="btnSaveAchat">Faire l'achat <span id="loadingAddAchat"></span>
            </div> 
        </form>
    </div>
</div>





<div class="card cardCamson">
    <div class="card-body m-2" id="valider">
        <table class="table">
            <thead class="table bg-dark text-white">
                <tr>
                    <th class="colonne_ref">Client</th>
                    <th class="colonne_nom">Produit</th>
                    <th class="colonne_magasin">Date d'achat</th>
                    <th class="">actions</th>
                </tr>
            </thead>
            <tbody id="dataAchat"></tbody>
        </table>
        <div id="demo"></div>
    </div>

    <div class=""></div>
</div>

   
<!-- ====================== =SCRIPT ===========================-->
<script src="{{ asset('assets/js/pagination.js') }}"></script>
<script>
	$("#btnSaveAchat").click(function() {
        let data = $("#form_achat").serialize();
        $.ajax({
            type: "ajax",
            method: "post",
            url: '{{ path("app_achat_new") }}',
            data: data,
            dataType: "json",
            beforeSend: function() {
                $("#btnSaveAchat").attr("disabled", "disabled");
                $("#btnSaveAchat").find("#loadingAddAchat").addClass("spinner-border spinner-border-sm");
            },
            success: function(response) {
                $("#btnSaveAchat").removeAttr("disabled", "disabled");
                $("#btnSaveAchat").find("#loadingAddAchat").removeClass("spinner-border spinner-border-sm");
                showAllAchat(); 
                successMessage();
            },
            error: function() {
                $("#btnSaveAchat").removeAttr("disabled", "disabled");
                $("#btnSaveAchat").find("#loadingAddAchat").removeClass("spinner-border spinner-border-sm");
                errorMessage();
            },
        });
    });


    showAllAchat(); 

    function showAllAchat() {
        $('input[name=searchClient]').val('');
        $.ajax({
            type: "ajax",
            url: '{{ path("app_all_achat") }}',
            // async: false,
            dataType: "json",
            beforeSend: function() {
            $("#dataAchat").html("<td colspan='7' class='text-center'><span class='spinner-border spinner-border-sm text-camson'></span></td>");
            },
            success: function(data) {
            var result = [];
            //pagination client
            $('#demo').pagination({
                dataSource: function(done) {
                result.push(data);
                done(result[0]);
                console.log(result[0]);
                if (result[0].length <= 15) {
                    $('#demo').attr('hidden', 'hidden');
                } else {
                    $('#demo').removeAttr('hidden');
                }
                },
                callback: function(data, pagination) {
                let html = ""
                let telPortable2;
                if (data.length <= 0) {
                    $("#dataClient").html("<td colspan ='9' class='text-center'>No data</td>")
                    // $("tfoot").attr("hidden", 'hidden')
                } else {
                    // $("tfoot").removeAttr("hidden", 'hidden')

                    $.each(data, function(index, value) {
                    let date = moment(value.datePaiment).format("ll")
                    if (value.telPortable2 == null) {
                        telPortable2 = "";
                    } else {
                        telPortable2 = value.telPortable2;
                    }
                    // if () {

                    // } else {

                    // }
                    html += "<tr>" +
                        "<td class='colonne_nom'>" + value.nom_client + "</td>" +
                        "<td class='colonne_nom'>" + value.nom_produit + "</td>" +
                        "<td class='colonne_abonnement'>" + value.date + "</td>" +
                        "<td class=''>" +
                        '<button type="button" class="btn btn-dark btn-sm" onclick="modifClient(' + value.id + ')" data-toggle="tooltip" data-placement="right" title="Detaille"><i class="bi bi-eye-fill"></i></button> ' +
                        '<button type="button" onclick="showModalUpdate(' + value.id + ')" class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="left" title="Modifier"><i class="bi bi-pencil-square"></i></button> ' +
                        '<button type="button"  class="btn btn-danger btn-sm"  onclick="modalDelete(' + value.id + ')" data-toggle="tooltip" data-placement="left"  title="Supprimer"><i class="bi bi-trash3"></i></button>' +
                        "</td>" +
                        "</tr>"
                    })
                    $("#dataAchat").html(html);
                    // Personnalisation_colonne();
                }
                }
            })
            //fin pagination
            },
            error: function() {

            },
        });
    }

</script>

{% endblock %}